* {
    font-family: sans-serif;
    line-height: 1.618em;
    margin: 0px;
    padding: 0px;
    

    
}

html{

   
    font-size: 16px;
    margin-top: 3em;
}

body{
    background-image: url("images/background.jpg");
}

header,
main, #mainBody,
footer{
    background-color: #ddd;
    margin: 0 auto;
    max-width :800px;
 
}

header{
    height: 2em;
    padding: .5em;
}

h1{
    background: rgb(24, 12, 126);
    color: white;
    display: flex;
    width: 100%;
}

#aboutMeContainer{
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
    justify-content: center;
    margin: auto 1em;
    max-width: 90%;
    min-height: 10em;
    width: 100%;
    
}

#headshot{
    margin: 1em auto;
}
#headshot img{
    margin: auto auto;
    
}


#aboutMeContainer h3{
    
    background:none;
    color: Black;
    
}

#contactInfo{
    display: flex;
    justify-content: center;
    align-content: center;

}

#contactButton{
    background-color:rgb(24, 12, 126);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    height: 20%;
    width: 80%;
    margin: 1em auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .8);
}

.modalContent {
    background-color: rgb(24, 12, 126);
    border: 1px solid #888;
    color: white;
    font-size: 26px;
    margin: 15% auto;
    padding: 20px;
    text-decoration: none;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#aboutMeContainer ul{
    display: flex;
    flex-flow: column;
    justify-content: center;
    list-style-type: none;
    max-width: 90%;
    margin: auto auto;
    padding: auto auto;
    font-size: 16px;
    text-decoration: none;
       
}
#aboutMe img{
    
    border: 1px solid black;
    width: 70%;
    
}

#contactList a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-decoration: none;
}

#aboutMetext{
    padding 1em 1em;
}



h2, h3{
    background: rgb(24, 12, 126);
    color: white;
    display: flex;
    justify-content: center;
}

section{
    margin: 1em 0;
    min-height: 10em;
    padding-top: 3em;
}
section ul{
    border-radius: 8px;
    font-size: 12px;
    list-style-type: none;
    padding-left: 1.5em;
    
}

#mainCarousel{
    max-width: 1000px;
    position: relative;
    margin: auto auto;
}

.imageCarousel{
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}

@-webkit-keyframes fade {
   
}

@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}
.next{
    right:0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background: rgba(0, 0, 0, .8);
}

.projectName{
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
}

.slideNum{
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
#projectsContainer {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;    
    margin: auto auto;
    max-width: 90%;
    width: 100%;
    
}

.projectBoxes {
    background: #ddd;
    border: 1px black;
    border-radius: 8px;
    display: grid;
    height: 285px;
    justify-content: center;
    padding: 1em;
    margin: .5em;
    
    
}

.projectBoxes h3{
    display: grid;
    font-size: 14px;
    height: 1.5em;
    justify-content: center;
    
}

.projectBoxes a{
    color: white;
    text-decoration: none;
    
    
}

.projectBoxes a:hover{
    background: #999;
    transition: 1s;
}

.projectBoxes img{
    border: 1px black;
    width: 100%;
    height: 100%;
    
    
}

.projectBoxes ul
{
    display: grid;
    justify-content: left;
}





.navBar{
    background: rgb(24, 12, 126);
    display: flex;
    flex-flow: row;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    cursor: pointer;
    
    

}


        .navBar a{
            color: white;
            padding: .5em 2em;
            text-decoration: none;
        }

        .dropDown{
            position: relative;
            display: inline-block;

        }
      
        .dropdownContent{
            display: none;
            position: absolute;
            background-color: #666;
            min-width: 160px;
            z-index: 1;
        }

        .dropdownContent a{
            display: none;
            background-color:rgb(82, 65, 235);
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;

        }

        .dropDown .dropButton{
            display: none;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 8px 32px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        

        .navBar a:hover, .dropDown:hover .dropButton{
            background: #999;
            transition: 1s;
            
        }
footer{
    background: rgb(24, 12, 126);
    display: flex;
    flex-flow: row;
    justify-content: center;
}

footer p{
    color: white;
    padding: .5em 2em;
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    
    h1, h2, h3{
        width: 100%;
    }
    
    #aboutMeContainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        padding: 1em 1em;
    }
    
    #projectsContainer {
        display: flex;
        flex-flow: column;
        margin-bottom: 90px;
        max-width: 100%;
        width: 100%;
    }

    #contactInfo h3{
        display: flex;
        justify-content: center;

    }

    #contactInfo ul{
        display: grid;
        padding-left: 2.5em;       
        
        margin: auto auto;
    }

    #headshot{
        align-content: center;
        display: flex;
        justify-content: center;
        height: 12em;
        width: 14em;
        max-width: 90%;
        max-height: 90%;
        

        
    }

    .modalContent{
        width: 90%;
    }

    

    .projectBoxes{
        padding-bottom: 8em;
    }

    .projectBoxes ul{
        margin-bottom: 1em;
        width:100%
    }

    .mainNavItems{
        display: none;
    }

    .navBar{
        display: flex;
        justify-content: left;
    }

    .dropButton{
        display: block;
        color: white;
    }
    .navDrop{
        display: block;
        color: white;
    }
  
    
    .dropDown{
        
        position: relative;
        flex-flow: column;

    }
    
    .dropdownContent{
        display: none;
        position: absolute;
        background-color: #666;
        min-width: 160px;
        z-index: 1;
    }

    .dropdownContent a{
        display: none;
        background-color:rgb(82, 65, 235);
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

    }

    .dropDown .dropButton{
        display:block;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 8px 32px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

  

    .show{
        display: block;
    }
    footer {
        font-size: 10px;
        margin: 0;
        text-decoration: none;
    }
}